[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Config
Comment=Configuracion del equipo
Icon=/home/pi/Documents/eum/app/iconos/iconosCajero/Configuracion.png
Exec=python3 /home/pi/Documents/eum/app/Config/main.py
Terminal=true
